<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="myget SixLabors" value="https://www.myget.org/F/sixlabors/api/v3/index.json" />
    <add key="myget wasm deps" value="https://www.myget.org/F/veldrid-wasm-deps/api/v3/index.json" />
    <add key="dotnet7" value="https://pkgs.dev.azure.com/dnceng/public/_packaging/dotnet7/nuget/v3/index.json" />
    <add key="dotnet8" value="https://pkgs.dev.azure.com/dnceng/public/_packaging/dotnet8/nuget/v3/index.json" />
  </packageSources>
</configuration>
